{% extends 'base_admin.html.twig' %}

{% block title %}{{ images_expo.titre }}{% endblock %}

{% block body %}
<div class="admin-wrapper admin-show">
    <h1>{{ images_expo.titre }}</h1>
    <a href="{{ path('app_admin_images_expo_index') }}">Retour à la liste</a>
    <a href="{{ path('app_admin_images_expo_edit', {'id': images_expo.id}) }}">Editer</a>
    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ images_expo.id }}</td>
            </tr> #}
            <tr>
                <th>Visuel</th>
                <td><img src="{{ asset('images/expos/'~images_expo.imageName) }}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ images_expo.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ images_expo.titre }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('admin_images_expo/_delete_form.html.twig') }}
</div>
{% endblock %}
