{% extends 'base_admin.html.twig' %}

{% block title %}Les Artistes{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <h1>Les Artiste</h1>
    <a href="{{ path('app_admin_artiste_new') }}">Créer un nouveau</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                {# <th>Presentation</th> #}
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.id }}</td>
                <td>{{ artiste.nom }}</td>
                <td>{{ artiste.prenom }}</td>
                <td>{{ artiste.pseudo }}</td>
                {# <td>{{ artiste.presentation }}</td> #}
                <td>{{ artiste.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_artiste_show', {'id': artiste.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_artiste_edit', {'id': artiste.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
