{% extends 'base_admin.html.twig' %}

{% block title %}Les Commentaires{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <h1>Les Commentaires</h1>
    <a href="{{ path('app_admin_commentaire_new') }}">Ajouter un commentaire</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>CreatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.texte }}</td>
                <td>{{ commentaire.createdAt ? commentaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_commentaire_show', {'id': commentaire.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_commentaire_edit', {'id': commentaire.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
