{% extends 'base_admin.html.twig' %}

{% block title %}Les Espaces{% endblock %}

{% block body %}
<div class="admin-wrapper admin-index">
    <h1>Les Espaces</h1>
    <a href="{{ path('app_admin_galerie_new') }}">Créer un nouvel Espace</a>
    <table>
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                {# <th>Adresse</th> #}
                {# <th>Complement</th> #}
                {# <th>Fixe</th>
                <th>Mobile</th>
                <th>Email</th> #}
                <th>Presentation</th>
                {# <th>Website</th> #}
                {# <th>Horaires</th> #}
                <th>Image</th>
                <th>Actif</th>
                {# <th>Date Création</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galerie in galeries %}
            <tr>
                {# <td>{{ galerie.id }}</td> #}
                <td>{{ galerie.nom }}</td>
                {# <td>{{ galerie.adresse }}</td> #}
                {# <td>{{ galerie.complementAdresse }}</td> #}
                {# <td>{{ galerie.telFixe }}</td>
                <td>{{ galerie.telMobile }}</td>
                <td>{{ galerie.email }}</td> #}
                <td>{{ galerie.presentation | u.truncate(75, '...') }}</td>
                {# <td>{{ galerie.website }}</td> #}
                {# <td>{{ galerie.horaires }}</td> #}
                <td>
                {% if galerie.imageName %}
                    <img src="{{ asset('images/galeries/'~galerie.imageName) }}" />
                {% endif %}
                </td>
                <td>{{ galerie.actif ? 'Oui' : 'Non' }}</td>
                {# <td>{{ galerie.dateCreation ? galerie.dateCreation|date('d-m-Y') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_admin_galerie_show', {'id': galerie.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_galerie_edit', {'id': galerie.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de galerie enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
