{% extends 'base_admin.html.twig' %}

{% block title %}Les Oeuvre{% endblock %}

{% block body %}
<div class="admin-wrapper admin-index">
    <h1>Toutes les Oeuvres</h1>
    <a href="{{ path('app_admin_oeuvre_new') }}">Ajouter une Oeuvre</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Visuel</th>
                {# <th>Description</th> #}
                {# <th>AnneeCreation</th> #}
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.id }}</td>
                <td>{{ oeuvre.titre }}</td>
                <td><img src="{{ asset('images/oeuvres/'~oeuvre.imageName) }}" /></td>
                {# <td>{{ oeuvre.description }}</td> #}
                {# <td>{{ oeuvre.anneeCreation }}</td> #}
                <td>{{ oeuvre.actif ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_admin_oeuvre_show', {'id': oeuvre.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_oeuvre_edit', {'id': oeuvre.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
