{% extends 'base_admin.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
<div class="admin-wrapper admin-show">
    <h1>Oeuvre</h1>
    <a href="{{ path('app_admin_oeuvre_index') }}">Retour à la liste</a>
    <a href="{{ path('app_admin_oeuvre_edit', {'id': oeuvre.id}) }}">Editer</a>
    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ oeuvre.id }}</td>
            </tr> #}
            <tr>
                <th>Titre</th>
                <td>{{ oeuvre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ oeuvre.description }}</td>
            </tr>
            <tr>
                <th>Année de création</th>
                <td>{{ oeuvre.anneeCreation }}</td>
            </tr>
            {# <tr>
                <th>Actif</th>
                <td>{{ oeuvre.actif ? 'Yes' : 'No' }}</td>
            </tr> #}
            <tr>
                <th>Visuel</th>
                <td><img src="{{ asset('images/oeuvres/'~oeuvre.imageName) }}" /></td>
            </tr>
        </tbody>
    </table>
    {{ include('admin_oeuvre/_delete_form.html.twig') }}
</div>
{% endblock %}
