{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
    <h1>Oeuvre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oeuvre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ oeuvre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ oeuvre.description }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ oeuvre.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AnneeCreation</th>
                <td>{{ oeuvre.anneeCreation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_oeuvre_index') }}">back to list</a>

    <a href="{{ path('app_admin_oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>

    {{ include('admin_oeuvre/_delete_form.html.twig') }}
{% endblock %}
