{% extends 'base.html.twig' %}
{% block title %}Les Evenements{% endblock %}
{% block body %}
<h1 class="page-title">Les Evenements</h1>
<div class="row">
        {% for even in evenements %}
        <div class="col-md-6">
            <div class="event">
                <h2>{{ even.titre }}</h2>
                {{ even.Description | raw }}
                <p>Date de l'evenement : {{ even.date|date("d/m/Y") }}</p>
                <p>Lieu de l'evenement : <a href="{{ path('app_galerie',{'id':even.galerie.id}) }}" >{{ even.galerie.nom }}</a></p>
                {# <a href="{{ path('app_expo',{'id':expo.id}) }}" class="lien">Voir la présentation</a> #}
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}