{% extends 'base.html.twig' %}
{% block title %}Bienvenue{% endblock %}
{% block body %}
    {% for galerie in galeries %}
        <div class="row espace">
            <div class="col-md-6 col-12">
                {% if galerie.imageName %}
                    <img src="{{ asset('images/galeries/'~galerie.imageName) }}" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-md-6 col-12 espace-txt">
                <div>
                    <h2 class="page-title">{{ galerie.nom }}</h2>
                    {{ galerie.presentation | u.truncate(225, '...') | raw }}
                </div>
                <div>
                    <a href="{{ path('app_galerie',{'id':galerie.id}) }}" class="lien">{{ galerie.nom | upper }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
