{% extends 'base.html.twig' %}
{% block title %}{{ galerie.nom }}{% endblock %}
{% block body %}

<div class="row one-espace">
    <div class="col-md-7">
        <h1>{{ galerie.nom|upper }}</h1>
        {{ galerie.presentation | raw }}
    </div>
    <div class="col-md-5 align-self-center">
        {% if galerie.imageName %}
            <img src="{{ asset('images/galeries/'~galerie.imageName) }}" class="img-fluid" />
        {% endif %}
    </div>
</div>

<div class="row actus-espace">
    <div class="col-md-7">
        <h2>Nos Expositions</h2>
            {% for exposition in galerie.expositions %}
                {% if date(exposition.dateFin) > date('-1days') %}
                    <div class="espace-expo">
                        <h3>{{ exposition.titre }}</h3>
                        <h4>{{ exposition.sousTitre }}</h4>
                        {% if exposition.imageName %}
                            <img src="{{ asset('images/annonces/'~exposition.imageName) }}" class="img-fluid" />
                        {% endif %}
                        {{ exposition.presentation | u.truncate(225, '...') | raw }}
                        <div class="row">
                            <ul class="col-sm-6">
                                <li>Début : {{ exposition.dateDebut|date("d/m/Y") }}</li>
                                <li>Fin : {{ exposition.dateFin|date("d/m/Y") }}</li>
                            </ul>
                            <div class="col-sm-6">
                                <a href="{{ path('app_expo',{'id':exposition.id}) }}" class="lien">Voir la présentation</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
    <div class="col-md-5">
        <h2>Nos Evenements</h2>
            {% for evenement in galerie.evenements %}
                {% if date(evenement.date) > date('-1days') %}
                    <div class="espace-evenement">
                        <h3>{{ evenement.titre }}</h3>
                        {{ evenement.Description | raw }}
                        <ul>
                        <li>Date : {{ evenement.date|date("d/m/Y") }}</li>
                        <li>Horaire : {{ evenement.Horaire }}</li>  
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        <h2>Nos artistes</h2>
            {% for artiste in galerie.artistes %}
                <div class="espace-artiste">
                    <h3>{{ artiste.nom}} {{ artiste.prenom }}</h3>
                    {{ artiste.presentation | raw }}
                    <div class="voir"><a href="{{ path('app_artiste',{'id':artiste.id}) }}" class="lien">Voir la présentation</a></div>
                </div>
            {% endfor %}
    </div>
</div>

<div class="row infos-espace">
    <div class="col-lg-4 col-md-6">
        <h3>Notre adresse</h3>
        <p>{{ galerie.adresse }}</p>
    </div>
    <div class="col-lg-4 col-md-6">
        <h3>Nous contacter</h3>
        <ul>
            <li>Tél : {{ galerie.telFixe }}</li>
            <li>Mail : {{ galerie.email }}</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-6">
    <h3>Nos horaires</h3>
        <p>{{ galerie.horaires }}</p>
    </div>
</div>

{% endblock %}