{% extends 'base.html.twig' %}
{% block title %}{{ expo.titre }}{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11 one-expo">
            <h1>{{ expo.titre|upper }}</h1>
            <h2>{{ expo.sousTitre }}</h2>
            {% if expo.imagesExpo|length > 0 %}
                <div id="carouselExampleIndicators" class="carousel slide slide-expo" data-bs-ride="true">

                    <div class="carousel-indicators">
                        {# Création des boutons liés à chaque image #}
                        {% for imageExpo in expo.imagesExpo %}
                        {# Initialisation de la classe active sur le bouton 0 #}
                            {% if loop.index0 == 0 %}
                                {% set active = "active" %}
                            {% else %}
                                {% set active = "" %}
                            {% endif %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" class="{{ active }}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                        {% endfor %}
                    </div>

                    <div class="carousel-inner">
                        {# Appel des images  #}
                        {% for imageExpo in expo.imagesExpo %}
                        {# Initialisation de la classe active à 0 #}
                        {% if loop.index0 == 0 %}
                            {% set active = "active" %}
                        {% else %}
                            {% set active = "" %}
                        {% endif %}
                        <div class="carousel-item {{ active }}">
                            <img src="{{ asset('images/expos/'~imageExpo) }}" class="d-block w-100" alt="...">
                        </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% endif %}
            {{ expo.presentation | raw }}
        </div><!--col-->
    </div><!--row-->

    <div class="row justify-content-center">
        <ul class="col-xl-3 col-lg-3 col-md-4 col-sm-6 one-presentation">
            <li>Lieu : {{ expo.galerie.nom }}</li>
            <li>Adresse : {{ expo.galerie.adresse }}</li>
        </ul>
        <ul class="col-xl-3 col-lg-3 col-md-4 col-sm-6 one-presentation">
            <li>Date de début : {{ expo.dateDebut | date("d/m/Y") }}</li>
            <li>Date de fin : {{ expo.dateFin | date("d/m/Y") }}</li>
        </ul>
        <div class="col-xl-3 col-lg-4 col-md-3 col-sm-12 liens-expo one-presentation">
            <a href="{{ path('app_galerie',{'id':expo.galerie.id}) }}" class="lien ">{{ expo.galerie.nom|upper }}</a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('add_favoris', {'id': expo.id}) }}"><img src="{{ asset('images/icones/epingle.svg') }}" class="fav" ></a>
        {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11 one-presentation">
            {% for commentaire in expo.commentaires %}
                <div class="commentaire">
                <p>Le {{ commentaire.createdAt | date("d/m/Y") }} <span>{{ commentaire.user }}</span> à laissé un commentaire : </p>
                <p>{{ commentaire }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if is_granted('ROLE_USER') %}
    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11 one-presentation form-com">
            {{ form_start(form)}}
            {{ form_widget(form) }}
            <button type="submit">Commenter</button>
            {{ form_end(form) }}
        <div>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}