{% extends 'base.html.twig' %}
{% block title %}{{ artiste.nom }}{% endblock %}
{% block body %}

    <div class="row justify-content-center artiste">
        <div class="col-md-11 one-presentation">
            <h1>{{ artiste.prenom }} {{ artiste.nom |upper }}</h1>
            {{ artiste.presentation | raw }}
            <div class="row">
                {% for oeuvre in artiste.oeuvres %}
                <div class="col-lg-6">
                    <div class="oeuvre">
                        <img src="{{ asset('images/oeuvres/'~oeuvre.imageName) }}" alt="{{ oeuvre.titre }}" class="img-fluid">
                    </div>
                    <ul>
                        <li>Titre de l'oeuvre : {{ oeuvre.titre }}</li>
                        <li>Année de création : {{ (oeuvre.anneeCreation) ? oeuvre.anneeCreation : "inconnue" }}</li>
                        <li>Technique(s) : 
                        {% if oeuvre.medias | length > 0 %}
                            {% for media in oeuvre.medias %}<span>{{ media.nom }} </span>{% endfor %}
                        {% else %}
                            non détaillée
                        {% endif %}
                        </li>
                    </ul>
                    {% if(oeuvre.description) %}<p>{{ oeuvre.description }}</p>{% endif %}
                </div>
                {% endfor %}
            </div>
        </div><!--col-->
    </div><!--row-->

{% endblock %}

