{% extends 'base.html.twig' %}
{% block title %}Espace Personnel{% endblock %}
{% block body %}

<h1 class="perso">Hello {{ user.username }}, retrouve ici tes expos préférées : </h1>
<div class="all-expos row">
        {% for expo in user.favoris %}
        <div class="col-lg-4 col-md-6">
            <div class="fiche-expo">
                <h2>{{ expo.titre }}</h2>
                {% if expo.imageName %}
                    <img src="{{ asset('images/annonces/'~expo.imageName) }}" class="img-fluid"/>
                {% endif %}
                <h3>{{ expo.sousTitre }}</h3>
                <ul>
                    <li>Date de début : {{ expo.dateDebut|date("d/m/Y") }}</li>
                    <li>Date de fin : {{ expo.dateFin|date("d/m/Y") }}</li>
                    <li>Lieu : <a href="{{ path('app_galerie',{'id':expo.galerie.id}) }}" >{{ expo.galerie.nom }}</a></li>
                </ul>
                <div class="sup-fav">
                <a href="{{ path('app_expo',{'id':expo.id}) }}" class="lien">Voir la présentation</a>
                <a href="{{ path('remove_favoris', {'id': expo.id}) }}"><img src="{{ asset('images/icones/delete.svg') }}" class="fav" title="supprimer ce favoris"></a>
                </div>
            </div>
        </div>
        {% endfor %}
</div>

<form method="post" action="{{ path('delete_me') }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer votre compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="supprimer">Supprimer mon compte</button>
</form>

{% endblock %}
