{% extends 'base_admin.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <a href="{{ path('app_admin_evenements_index') }}">Retour à la liste</a>
    <a href="{{ path('app_admin_evenements_edit', {'id': evenement.id}) }}">Editer</a>
    <h1>Evenement</h1>
    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr> #}
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ evenement.Horaire }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ evenement.illustration }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('admin_evenements/_delete_form.html.twig') }}
{% endblock %}
