<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Galeries Actus - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {# <header>
        <div>
            <h1>Espaces<br>Multiples</h1>
        </div>
        <nav class="front-nav">
            <ul>
                <li><a href="{{ path("app_accueil") }} ">Accueil</a></li>
                <li><a href="{{ path("app_les_expos") }} ">Les Expositions</a></li>
                <li><a href="{{ path("app_les_artistes") }} ">Les Artistes</a></li>
                <li><a href="{{ path("app_les_evenements") }} ">Les Evenements</a></li>
                {% if is_granted("ROLE_USER") %}
                <li><a href="{{ path("app_logout") }} ">Déconnection</a></li>
                <li><a href="{{ path("app_front_user") }} ">Espace personnel</a></li>
                {% else %}
                <li><a href="{{ path("app_login") }} ">Connection</a></li>
                <li><a href="{{ path("app_register") }} ">Enregistrement</a></li>
                {% endif %}
            </ul>
        </nav>
    </header> #}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
