<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin Galeries Actus - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="admin-nav">
            <ul>
                <li><a href="{{ path("app_accueil") }}" >Retour au site</a></li>
                {# <li><a href="{{ path("app_admin_bienvenue_index") }}" >Admin Bienvenue</a></li> #}
                <li><a href="{{ path("app_admin_galerie_index") }}" {% if active == 'adm-galeries' %} class="active" {% endif %}>Admin Galeries</a></li>
                <li><a href="{{ path("app_admin_exposition_index") }}" {% if active == 'adm-expos' %} class="active" {% endif %}>Admin Expositions</a></li>
                <li><a href="{{ path("app_admin_images_expo_index") }}" {% if active == 'adm-img-expos' %} class="active" {% endif %}>Admin Images Expos</a></li>
                <li><a href="{{ path("app_admin_artiste_index") }}" {% if active == 'adm-artistes' %} class="active" {% endif %}>Admin Artistes</a></li>
                <li><a href="{{ path("app_admin_oeuvre_index") }}" {% if active == 'adm-oeuvres' %} class="active" {% endif %}>Admin Oeuvres</a></li>
                <li><a href="{{ path("app_admin_media_index") }}" {% if active == 'adm-medias' %} class="active" {% endif %}>Admin Medias</a></li>
                <li><a href="{{ path("app_admin_evenements_index") }}" {% if active == 'adm-events' %} class="active" {% endif %}>Admin Evenements</a></li>
                <li><a href="{{ path("app_admin_type_evenement_index") }}" {% if active == 'adm-tp-events' %} class="active" {% endif %}>Admin Type Evenement</a></li>
                <li><a href="{{ path("app_admin_commentaire_index") }}" {% if active == 'adm-coms' %} class="active" {% endif %}>Admin Commentaires</a></li>
                <li><a href="{{ path("app_admin_user_index") }}" {% if active == 'adm-user' %} class="active" {% endif %}>Admin User</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>