<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Galeries Actus - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="front-nav">
            <ul>
                <li><a href="{{ path("app_accueil") }} ">Accueil</a></li>
                {% if is_granted("ROLE_USER") %}
                <li><a href="{{ path("app_logout") }} ">Déconnection</a></li>
                <li><a href="{{ path("app_front_user") }} ">Espace personnel</a></li>
                {% else %}
                <li><a href="{{ path("app_register") }} ">Enregistrement</a></li>
                <li><a href="{{ path("app_login") }} ">Connection</a></li>
                {% endif %}
                
            </ul>
        </nav>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
