{% extends 'base.html.twig' %}
{% block title %}{{ galerie.nom }}{% endblock %}
{% block body %}
<h1>{{ galerie.nom|upper }}</h1>
<div>
{{ galerie.presentation|raw }}
</div>
    <h2>Nos Expositions</h2>
    {% for exposition in galerie.expositions %}
        {% if date(exposition.dateFin) > date('-1days') %}
            <h3>{{ exposition.titre }}</h3>
            <p>Début : {{ exposition.dateDebut|date("d/m/Y") }}</p>
            <p>Fin : {{ exposition.dateFin|date("d/m/Y") }}
        {% endif %}
    {% endfor %}

    <h2>Nos Evenements</h2>
    {% for evenement in galerie.evenements %}
        {% if date(evenement.date) >= date('-1days') %}
            <h3>{{ evenement.titre }}</h3>
            <p>Date : {{ evenement.date|date("d/m/Y") }} 
        {% endif %}
    {% endfor %}
{% endblock %}